<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chb.mis"
          android:versionCode="1"
          android:versionName="1.0">
	<uses-sdk android:minSdkVersion="15"/>

	<!-- 权限 -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!-- 摄像头、手电筒 -->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />


	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.camera.flash" />

	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<!-- 主Activity，显示MIS列表用 -->
		<activity android:name="MisMain"
		          android:label="@string/app_name"
		          android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<!-- 无线USB，也就是ftp服务器 -->
		<activity android:name=".wirelessusb.WirelessUSBActivity"
		          android:screenOrientation="portrait"/>

		<!-- 定位功能演示 -->
		<activity android:name=".locate.LocateActivity"
		          android:screenOrientation="portrait"/>

		<!-- 内存清理 -->
		<activity android:name=".memory.MemoryCleanActivity"/>

		<!-- 手电筒-->
		<activity android:name=".light.LightActivity"
		          android:screenOrientation="portrait"/>

		<!-- 手机拨号widget -->
		<receiver
				android:label="GPRS"
				android:name=".widget.MyWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			           android:resource="@xml/info" />
		</receiver>
		<receiver android:name=".widget.MyWidgetBroadcast">
			<intent-filter>
				<action android:name="CHANGE_MAIN_BUTTON_CONTENT"/>
			</intent-filter>
		</receiver>

		<!-- 手电筒widget -->
		<receiver
				android:label="Light"
				android:name=".light.LightWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			           android:resource="@xml/light_info" />
		</receiver>
		<receiver android:name=".light.LightWidgetBroadcast">
			<intent-filter>
				<action android:name="CHANGE_MAIN_BUTTON_CONTENT"/>
			</intent-filter>
		</receiver>

	</application>
</manifest>
